/*  .features > * {
 outline: 2px solid deeppink;
}
.features > * > * {
 outline: 2px dashed lime;
 outline-offset: -2px;
}
.features > * > * > * {
 outline: 2px dotted dodgerblue;
 outline-offset: -4px;
}  */


body{
	margin: 0;
	padding: 0;
	background-color: #849d8f;
	font-family: "Roboto", "Arial", sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: normal;
	color: #ffffff;
}

.container{
	width: 1200px;
	margin: 0 auto;
}

 .visually-hidden{
	 position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  font-size: 0;
} 

/* Шапка */

.main-header{
	min-height: 64px;
	width: 100%;
}

.main-menu{
	display: flex;
	position: relative;
	align-items: center;
	padding-top: 9px;
}

.logo{
	 margin-left: 27px;
}

.main-menu__list,
.main-menu__dropdown,
.user-nav{
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-menu__list{
	display: flex;
	margin-left: 10px;
	align-items: center;
}

.main-menu__item{
	margin-top: -9px;
	margin-right: 14px;
}

.main-menu__item:nth-of-type(2){
	margin-right: 28px;
}

.user-nav{
	display: flex;
	margin-left: auto;
	margin-right: 29px;
  margin-top: -10px;
}

.site-nav__link{
	color: #ffffff;
	line-height: 18px;
	font-weight: bold;
	text-decoration: underline;
}

.site-nav__sub-menu{
	display: inline-block;
	box-sizing: border-box;
	padding-top: 6px;
	width: 87px;
	height: 32px;
	text-align: center;
}


.site-nav__sub-menu:hover{
	background-color: #ffffff;
	border-radius: 20px;
	color: #000;
}

.site-nav__sub-menu:active{
	box-shadow: inset 0 0 10px 0 #000;
}

.site-nav--current{
	display: inline-block;
	box-sizing: border-box;
	width: 87px;
	height: 32px;
	padding-top: 6px;
	text-align: center;
	text-decoration: none;
	background-color: #d07058;
	border-radius: 20px;
}

.dropdown{
	display: none;
	margin: 0;
	padding: 0;
	width: 143px;
	background-color: #fff;
	border-radius: 10px;
}

.dropdown__item{
	padding: 10px 20px;
}

.dropdown__item:hover,
.dropdown__item:focus{
	background-color: #ffcccc;
}

.dropdown__item:active{
	background-color: #f6b5a5;
}


.dropdown__item:first-child{
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown__link{
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 16px;
}


.dropdown__link--bold{
	font-weight: bold;
}

.user-nav__search{
	margin-right: 9px;
}

.search__button{
	cursor: pointer;
	width: 33px;
	height: 33px;
	padding-top: 6px;
  margin-top: -1px;
	border: none;
	border-radius: 50%;
	background-color: rgba(255, 255, 255, 0.2);
}

.search__button:hover path{
	fill: #000000;
}

.search__button:hover{
	background-color: #fff;
	color: #000;
}

.user-nav__enter{
	margin-right: 9px;
}

.enter__link{
	display: inline-block;
	box-sizing: border-box;	
	position: relative;
	width: 92px;
	height: 33px;
	padding-top: 8px;
  padding-left: 45px;
	

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);

 	text-decoration: none;
 	color: #fff;
 	font-weight: 500;
 	font-size: 14px;
	line-height: 16px;
}

.enter__icon{
	position: absolute;
	top: 6px;
	left: 17px;
}

.enter__link:hover path,
.enter__link:hover polygon{
	fill: #000000;
}

.enter__link:hover{
	background-color: #ffffff;
	color: #000000;
}

.cart__button{
	display: inline-block;
	box-sizing: border-box;	
	position: relative;
	width: 117px;
	height: 33px;
	padding-top: 8px;
	padding-left: 15px;

	border-radius: 20px;
	background-color: rgba(255, 255, 255, 0.2);

	text-decoration: none;
 	color: #ffffff;
 	font-weight: 500;
 	font-size: 14px;
	line-height: 16px;
	text-align: center;
	vertical-align: middle;
}

.cart-icon{
	position: absolute;
	top: 6px;
	left: 18px;
}

.cart__button:hover path,
.cart__button:hover circle{
	fill: #000000;
}

.cart__button:hover{
	background-color: #fff;
	color: #000;
}

.main-heder__info{
	width: 170px;
	height: 50px;
	position: absolute;
	top: 69px;
	right: 22px;
}

.info__working-hours{
	margin-left: 15px;
	font-size: 14px;
	line-height: 16px;
	font-weight: bold;
}

.info__tel{
	display: inline-block;
	margin-top: 2px;
	font-size: 22px;
	line-height: 24px;
	font-weight: bold;
}

/* Слайдер */

.page-slider{
	position: relative;
}

.page-slider__list{
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.page-slider__image{
	position: relative;
	top: -79px;
  left: 78px;
  z-index: -10;
}

.page-slider__item{
	position: relative;	
	height: 568px;
}

.page-slider__product-name{
	position: absolute;
	top: 253px;
	left: 260px;
  width: 680px;
	font-size: 60px;
	line-height: 60.35px;
	text-align: center;
	font-weight: bold;
}

.page-slider__btn{
	position: absolute;
  top: 465px;
  left: 459px;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.76);
}

.page-slider__controls{
	width: 90px;
	position: absolute;
	left: 28px;
  bottom: 63px;
}

.page-slider__button{
	width: 21px;
	height: 21px;
	margin-right: 4px;
	font-size: 0;
	border: 2px solid #fff;
	background-color: transparent;
	border-radius: 50%;
	cursor: pointer;
}

.page-slider__button:hover{

	background-color: rgba(255, 255, 255, 0.2);
}

.page-slider__button--active{
	background-color: #fff;
}

.page-slider__button--active:hover{
	background-color: #fff;
}

.page-slider__item:nth-of-type(2),
.page-slider__item:nth-of-type(3){
	display: none;
}

/* Основное содержание */

.breadcrumbs{
	list-style: none;
	margin: 0;
	padding: 0;
}

.breadcrumbs__item{
	color: #fff;
	font-size: 14px;
	line-height: 16px;
}

.breadcrumbs__item:hover{
	color: #ffbc9e;
}

.breadcrumbs__item--current{
	text-decoration: none;
}

.breadcrumbs__item--current:hover{
	color: #fff;
}

.catalog-page__title{
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}
/*Стили формы фильтра*/
.filter__box,
.fatinnes,
.toping{
	border: none;
}

.filter__form{
	font-weight: 500;
}

.filter-label{
	font-size: 14px;
	line-height: 16px;
}

.fatinnes__label,
.toping__label{
	font-size: inherit;
	line-height: 18px;
}

.sorting{
	padding-left: 15px;
	height: 36px;
	width: 193px;
	background-color: rgba(255, 255, 255, 0.2);
	border: none;
	border-radius: 20px;
	color: #fff;
	font-size: inherit;
	line-height: 18px;
	text-transform: lowercase;
}

.sorting-item{
	color: #000;
	font: inherit;
}

.sorting:hover{
	color: #000;
}

.filter__button{
	background-color: rgba(255, 255, 255, 0.2);
	border-radius: 20px;
	border: 2px solid #fff;
	color: #fff;
	font-size: 16px;
	line-height: 18px;
	font-weight: 500;
}

.filter__button:hover{
	background-color: #fff;
	color: #000;
}

/* Стили каталога 2 страницы*/

.product:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

.btn{
	display: inline-block;
	box-sizing: border-box;
	height: 63px;
	width: 280px;
	padding: 7px 0;
	text-align: center;
	text-decoration: none;
	font-size: 32px;
	line-height: 44px;
	font-weight: bold;
	color: #fff;
	background-color: #ed5b3d;
	border-radius: 30px;
}

.btn:hover{
	background-color: #f07963;
}

.offer{
	display: flex;
	position: relative;
	padding: 0 27px;
	margin-bottom: 40px;
}


.offer__item-1{
	display: flex;
  flex-direction: column;
	box-sizing: border-box;
	padding: 17px;
	padding-left: 19px;
	width: 560px;
	min-height: 229px;
	background-image: url(../img/offer-bg-razz.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offer__item-2{
	display: flex;
  flex-direction: column;
	box-sizing: border-box;
	padding: 17px;
	padding-left: 19px;
	margin-left: auto;
	width: 560px;
	min-height: 229px;
	background-image: url(../img/offer-bg-chocolate.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.offer-title{
	font-size: 35px;
	line-height: 41px;
	font-weight: bold;
}

.offer__description{
	display: inline-block;
	margin-top: 14px;
	font-size: 18px;
	font-weight: bold;
}

.offer__btn{
  align-self: flex-end;
	margin-top: 26px;
	height: 46px;
	width: 165px;
	font-size: 18px;
	line-height: 24px;
}

.catalog{
	display: flex;
	padding: 0 26px;
	margin-bottom: 23px;
}

.product{
	position: relative;
	width: 292px;
	min-height: 340px;
	margin-right: 27px;
}

.product::before{
	content: "";
	position: absolute;
	width: 61px;
	height: 61px;
	border-radius: 50%;
	background-image: url(../img/hit-icon.svg);
	background-repeat: no-repeat;
	background-position:50% 50%;
	background-color: #ffffff;
}

.product:nth-of-type(3){
	margin-right: 25px;
}

.product__info{
	position: absolute;
	bottom: 81px;

}

.product__image{
	border-radius: 50%;
}

.product__price{
	font-size: 45px;
	line-height: 45px;
	font-weight: bold;
}

.product__units{
	font-size: 30px;
	line-height: 45px;
	font-weight: bold;
	text-transform: lowercase;
}

.product__link{
	color: #fff;
	font-size: 16px;
	line-height: 22px;
	font-weight: 500;
}

.product__name{
	text-align: center;
  margin: 0;
  margin-top: 7px;
  font-size: 16px;
}

.product__link:hover{
	color: #ffbc9e;
}

.features{
	width: 96.5%;
  margin-bottom: 40px;
  padding: 30px 21px;
  padding-bottom: 14px;
	background-image: url(../img/features-bg.jpg);
	background-repeat: repeat;
	background-position: 0 0;
	border-radius: 10px;
	color: #323232;
}

.features__lead{
	font-size: 24px;
	line-height: 30px;
	font-weight: 500;
	margin: 0;
}

.features__list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 0;
	padding: 0;
}

.features__item{
	position: relative;
	width: 480px;
  padding-left: 54px;
  margin-top: 14px;
  margin-bottom: 9px;
  margin-right: 30px;
}

.features__item-1{
	order: 1;
}

.features__item-2{
	order: 3;
}

.features__item-3{
	order: 2;
}

.features__item-4{
	order: 4;
} 


.features__item-1:before{
	content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url(../img/icecream-icon.svg);
  background-repeat: no-repeat;
}

.features__item-2:before{
	content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url(../img/leaf-icon.svg);
  background-repeat: no-repeat;
}

.features__item-3:before{
	content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url(../img/cow-icon.svg);
  background-repeat: no-repeat;
}

.features__item-4:before{
	content: "";
  display: block;
  position: absolute;
  top: -12px;
  left: -2px;
  width: 49px;
  height: 49px;
  background-image: url(../img/thermometer-icon.svg);
  background-repeat: no-repeat;
}

.features__item-2{
	order: 3;
}

.features__item-3{
	order: 2;
}

.features__item-4{
	order: 4;
} 


.column-index{
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.blog-preview{
	width: 560px;
	min-height: 220px;
	background-image: url(../img/blog-anounce-bg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.blog-preview__title{
	font: inherit;
	font-weight: 500;
	color: #000;
}

.blog-preview__link{
	font-size: 24px;
	line-height: 30px;
	color: #323232;
}

.subscribe{
	width: 560px;
	height: 220px;
	padding: 5px 6px;
	background-image: url(../img/subscribe-bg.svg);
	background-repeat: no-repeat;
	background-position: 0 0;
}

.subscribe__wrapper{
	width: 506px;
	height: 144px;
	padding: 33px 21px;
	border-radius: 10px;
	background-color: #f8f7f4;
}

.subscribe__input{
	box-sizing: border-box;
	width: 368px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.subscribe__form{
	}

.subscribe__input:hover,
.subscribe__input:focus{
	border: 2px solid #c7c6c5;
}

.subscribe__text{
	color: #5a5a5a;
}

.subscribe__button{
	margin-left: 4px;
	border: none;
	width: 130px;
	height: 45px;
	font-size: 18px;
	line-height: 24px;
}

.info__text{
	font-size: 14px;
	line-height: 20px;
}

.info__location{
	font-size: 18px;
	line-height: 24px;
}

.info__phone{
	font-size: 18px;
	line-height: 22px;
}

.info__work-time{
		font-size: 14px;
	line-height: 22px;
}

.feedback-button{
	width: 251px;
	height: 43px;
	border: none;
	font-size: 18px;
	line-height: 24px;
}
/* Пагинатор */
.pagination__list{
	padding: 0;
	margin: 0;
	list-style: none;
}

.pagination__item{
	display: inline-block;
	box-sizing: border-box;
	text-align: center;
	padding-top: 4px;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	text-decoration: none;
	font-size: 16px;
	line-height: 18px;
	color: #fff;
	font-weight: 500;
	cursor: pointer;
}

.pagination__item:hover{
	background-color: rgba(255, 255, 255, 0.2);
}

.pagination__item--current:hover{
	cursor: default;
	background-color: #fff;
}

.pagination__item--current{
	background-color: #fff;
	color: #000;
}

/* Стили футера */

.socials__link{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	border-radius: 50%;
	border: 2px solid rgba(255, 255, 255, 0.5);
	font-size: 0;
}

.socials__link:hover{
	/* Как управлять СВГ????*/
}

.socials__link-tw{
	background-image: url(../img/twitter-logo.svg);
}

.socials__link-inst{
	background-image: url(../img/instagram-logo.svg);
}

.socials__link-fb{
	background-image: url(../img/facebook-logo.svg);
}

.socials__link-vk{
	background-image: url(../img/vk-logo.svg);
}
.about-us__link{
	font-size: 13px;
	line-height: 18px;
	color: #fff;
}

.about-us__link:hover{
	color: #ffbc9e;
}

.about-us__link:first-of-type{
	font-weight: bold;
}

.copyright__text{
	font-size: 12px;
	line-height: 18px;
}

.copyright__link{
	color: #fff;
}

.copyright__link:hover{
	color: #ffbc9e;
}

/* Стили модальных окон */
.modal-search__input{
	width: 311px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.modal-search__input:hover,
.modal-search__input:focus{
	border: 2px solid #c7c6c5;
}

.modal-enter__password,
.modal-enter__email{
	width: 241px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.modal-enter__password:hover,
.modal-enter__password:focus,
.modal-enter__email:hover,
.modal-enter__email:focus{
	border: 2px solid #c7c6c5; 
}

.modal-feedback__email,
.modal-feedback__user-name{
	width: 267px;
	height: 44px;
	padding-left: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.modal-feedback__text{
	width: 428px;
	height: 155px;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid #b2b2b2;
	border-radius: 5px;
}

.modal-feedback__email:hover,
.modal-feedback__email:focus,
.modal-feedback__user-name:hover,
.modal-feedback__user-name:focus,
.modal-feedback__text:hover,
.modal-feedback__text:focus{
	border: 2px solid #c7c6c5; 
}

.modal-enter__restore-link,
.modal-enter__regisration-link{
	font-size: 13px;
	line-height: 24px;
	color: #000;
}

.modal-enter__button{
	width: 100px;
	height: 44px;
	font-size: 18px;
	line-height: 24px;
	border: none;
}

.modal{
	background-color: #f8f7f4;
}

.modal-feedback__title{
	font-size: 24px;
	line-height: 28px;
	color: #000;
	font-weight: medium;
}

.modal-feedback__button{
	width: 138px;
	height: 43px;
	font-size: 18px;
	line-height: 24px;
	border: none;
}

.modal-cart__button{
	width: 170px;
	height: 44px;
	font-size: 18px;
	line-height: 24px;
}

.modal-cart__product-image{
	border-radius: 50%;
}

.modal-cart{
	font-size: 13px;
	line-height: 16px;
	color: #000;
}

.modal-cart__item-price{
	color: #999999;
}

.modal-cart__total-price{
	font-size: 15px;
	line-height: 18px;
}